doctype html
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body


    header
        h2 Best Community Service

    section
        nav
            ul(class='navbar')
                a(href='/'): li Home
                a(href='/services'): li Services

        block content



    footer Footer

